body{
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}

#sidebarMenu{
  min-height: 77vh;
  padding:0px 15px;
  background: #f0f2f5 !important;
  max-height: 90vh;
  overflow-y: auto;
}

.sidebar{
  background: #f0f2f5 !important;
  max-height: 90vh;
  position: -webkit-sticky;
  position: sticky;
  max-height: 90vh;
  top:45px;
}

.dark-grey-bg{
  background-color: #f0f2f5;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.document-template-cards{
    padding: 10px;
    border-radius: 2px;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    background: #f8f4f4;
    box-shadow: 0 2px 1px rgba(0,0,0,.10);
    border: 0px;
}

.document-template-cards .card-body{
  padding: 5px 10px;
}

.template_type{
    display: block;
    top: 12px;
    width: 90px;
    position: absolute;
    text-align: center;
    transform: rotate(45deg);
    right: -22px;
    color: #fff;
    font-size: .8rem;
    padding: 4px 0px;
    line-height: 10px;
    margin-bottom: 0px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

/* .document-template-cards.status-pending{
  border-top: 0.425rem solid #cecd00;
}

.document-template-cards.status-draft{
  border-top: 0.425rem solid #efa600;
}

.document-template-cards.status-active{
  border-top: 0.425rem solid #00b799;
}

.document-template-cards.status-in_active{
  border-top: 0.425rem solid #dc3847;
}

.document-template-cards.status-archived{
  border-top: 0.425rem solid #8e97a0;
} */

.status-pending .template_type{
  background-color: #cecd00;
}

.status-draft .template_type{
  background-color: #efa600;
}

.status-active .template_type{
  background-color: #10b981;
}

.status-in_active .template_type{
  background-color: #dc3847;
}

.status-archived .template_type{
  background-color: #8e97a0;
}

.document-template-cards:hover{
  transform: translateY(-3px);
  cursor: pointer;
}

.document-template-cards h5{
    margin-bottom: 16px;
    color: #333;
    max-width: 306px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-user-date{
  margin-bottom: 7px;
  font-size: 13px;
}

.document-template-cards a{
  color:#2e2e2e;
  text-decoration: none;
}

.filepond-section-custom .dropzone.dz-clickable{
  padding: 40px 20px;
  background-color: #fff;
  max-width: 740px;
  margin: 0px auto 10px;
  position: relative;
}

.filepond-section-custom .dropzone.dz-clickable::before{
  position: absolute;
    content: "";
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    background: #f4f4f4;
    z-index: -1;
    border-radius: 6px;
}


@media screen and (max-width: 1360px) {

  .filepond-section-custom .dropzone.dz-clickable{
    max-width: 640px;
  }

}

.filepond-section-custom .dropzone.dz-clickable h3{
  font-size: 1.5rem !important;
}

.grey-bg-section{
  background-color: #efefef;
  padding: 20px 0 50px;
}

.space-y{
  position: absolute;
    right: 5px;
    top: 44px;
    bottom: 0;
    display: none;
}

.document-template-cards:hover .space-y{
  display: block;
}

.space-y-inner{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.space-y-inner a{
  height: 24px;
  display: block;
  width: 24px;
  line-height: 24px;
  font-size: .7rem;
  padding: 0px;
  text-align: center;
  border-radius: 100px;
}

.space-y-inner a:hover{
  background-color: #333;
  color: #fff !important;
}

/**
 * FilePond Custom Styles
 */
 .filepond--root {
  width: 500px;
}

.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  -webkit-text-decoration-color: #babdc0;
          text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 2em;
  background-color: #edf0f4;
  height: 1em;
}

.icons-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.icons-box-btn{
  padding: 3px;
  border-radius: 0.175rem;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
  position: relative;
  width: 98%;
  margin: 2% 1%;
  text-align: left;
  color: #4c4e53 !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 98%;
  justify-items: left;
  border-left: 3px solid #0d6efd;
  padding-left: 20px;
  background-color: rgb(242, 246, 255) !important;
}

.draggable-left-icon{
    left: 0;
    position: absolute;
    width: 18px;
    text-align: center;
    top: 0;
    bottom: 0;
    cursor: grab;
}

.icons-box-btn:hover .draggable-left-icon{
  background-color: #f7f7f7;
}

.draggable-left-icon i{
  position: relative;
  top: 42%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: -1px;
  color: #a4a4a4;
}

.icons-box-btn:hover{
  background-color: #dae6ff;
}

.icons-box-btn svg {
  width: 40px;
  text-align: left;
}

.text-xs {
  font-size: .8rem;
  line-height: 1rem;
  display: inline-flex;
}

.wrap-doc{
  overflow: auto;
  max-height: 800px;
  width: 100%;
}

.wrap-doc iframe{
  width: 100%;
  height: 100vh;
}

.send-recipients-sec{
  border: 1px solid #b6c7d6;
  background-color: #f2f6ff;
  padding: 60px 20px;
  max-width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
  position: relative;
}

.max-w-lg {
  max-width: 32rem;
}

.Submissions-btns-grp .btn{
  display: block;
  max-width: 300px;
  margin: 15px auto;
  border-radius: 50px;
  padding: 10px;
}
.filepond-section-custom{
  padding: 20px 0px 15px;
}

.filepond-section-custom .filepond--drip{
  background: #f3f4f6 !important;
}


.filepond-section-custom .filepond--root .filepond--drop-label{
  border: 2px dashed #6b7280 !important;
  border-radius: 9px;
  min-height: 14.75em;
}

.filepond-section-custom .filepond--root {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

.navbar-nav.user-dropdown .dropdown-menu{
  position: absolute;
  right: 0;
  left: auto;
}



.add-part-btn{
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}

.icons-box-btn img{
  max-width: 20px;
}


.send-btn-light{
  color: #0d6efd !important;
  background: rgba(13, 110, 253, .22);
  border: 1px solid #cadfff;
  min-width: 100px;
}

.send-btn-light:hover,
.send-btn-light:focus{
  color: #0d6efd !important;
  background: rgba(13, 110, 253, .32);
  border: 1px solid #cadfff;
}

.add-doc-sec{
  padding: 15px 0;
  max-height: 90vh;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
}

.edit-doc-name{
  position: relative;
  padding-right: 20px;
}

.edit-docs-file{
  position: relative;
    margin: 0px auto;
    min-height: 100px;
}

.edit-docs-file .previewerContainer{
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  max-width: 152px;
  margin: 9px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.edit-docs-file .previewerContainer.active{
  border: 2px solid #10b981;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.edit-docs-file canvas{
  max-width: 100%;
  margin-bottom: -5px;
}

.add-party-btn{
  display: block;
  padding: 8px 17px;
  color: #333 !important;
  text-decoration: none;
  background: #e7e7e7;
  border-radius: 20px;
  margin: 6px 0;
}

.edit-doc-text{
  position: absolute;
  right: 2px;
  color: #4c4e53;
  top: 1px;
  display: none;
}

.edit-doc-name:hover .edit-doc-text{
  display: block;
}

.replace-doc-btn{
  padding: 1px 10px;
  margin: 2px;
  display: inline-block;
}

.edit-docs-btn{
  padding: 2px 8px;
  margin: 2px;
  color: #dc3847;
  display: inline-block;
  background: #fff;
  position: relative;
  top: 1px;
  border-radius: 4px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  text-decoration: none;
}

.edit-docs-btn:hover{
  background-color: #dc3847;
  color: #fff;
}

.dropzone.dz-clickable{
  background-color: #dae6ff;
  border: 1px dashed #6782b8;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
}

.nav.nav-tabs .nav-link.active{
  color: rgb(0, 85, 255) !important;
  border-top: 4px solid #05f;
  border-radius: 5px 5px 0px 0px;
}

.nav.nav-tabs .nav-link{
  color: #333 !important;
  border-top: 4px;
  padding: 17px;
}

.dropzone.dz-clickable h3{
  color: rgb(0, 85, 255);
}

#pdfViewer{
  background-color: #f9fbfd;
  text-align: center;
}

#pdfViewer canvas{
  margin: 12px auto 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pdfviewer-numbers{
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background: #0d6efd;
    color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: .8rem;
    border-radius: 100px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.pdfviewer-numbers:not(.canvasPdfNumber){
    bottom: 10px;
}
.pdfviewer-numbers.canvasPdfNumber{
    top: 20px;
}

label.error{
  color: #e90101;
  font-size: .8rem;
}

.form-control.required,
.form-select.required,
textarea.required{
  border-left: 3px solid #e90101;
}

.header-bottom-section{
  box-shadow: rgba(26, 26, 26, 0.2) 0px 0px 2px;
  position: relative;
  background-color: #fff;
}

.shadow{
  box-shadow: 0 2px 4px rgba(33,51,67,.12) !important;
}

.btn{
  border-radius: 0.175rem !important;
}

.toast{
  margin-bottom: .5rem !important;
}

.toast-danger{
  background-color: #e84c3d;
  color: #fff;
  border: 1px solid #e84c3d;
}

.toast-warning{
  background-color: #f39c11;
  color: #fff;
  border: 1px solid #f39c11;
}

.toast-info{
  background-color: #3598db;
  color: #fff;
  border: 1px solid #3598db;
}

.toast-success{
  background-color: #00bc8c;
  color: #fff;
  border: 1px solid #00bc8c;
}

.dropdown_c{
  position:relative;
  margin:10px 0px;
  z-index: 2;
  }

  .dropdown_c .selecteddropdown{
    position: relative;
  }

   .selecteddropdown span{
    display:flex;
    background: #fff;
    width:100%;
    border-radius:5px;
    color:#131313;
    border: 1px solid #ddd;

  }

   .selecteddropdown  span{
    cursor:pointer;
    display:flex;
    padding:10px 15px;
    margin:0;
  }

   .drop-content{
    position:absolute;
    left: 0px;
    top: 42px;
    display: none;
    list-style: none;
    width: 100%;
    background: #fff;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    padding: 5px !important;
    box-shadow: 0 1px 5px rgba(33,51,67,.12);
  }

  .drop-content ul{
    padding-left: 0px;
  }

  .drop-content ul li{
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }

   .drop-content ul li a{
    display: flex;
    padding: 8px 17px 8px 25px;
    text-decoration: none;
    color: #131313;
    text-decoration: none;
    cursor: pointer;
  }

  .drop-content ul li a::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100px;
  }

  .drop-content ul li:nth-child(1) a:first-child::before{
    background-color: #ef4444;
  }

  .drop-content ul li:nth-child(2) a:first-child::before{
    background-color: #0ea5e9;
  }

  .drop-content ul li:nth-child(3) a:first-child:before{
    background-color: #10b981;
  }

  .drop-content ul li:nth-child(4) a:first-child::before{
    background-color: #fde047;
  }

  .drop-content ul li:nth-child(5) a:first-child::before{
    background-color: #9333ea;
  }

  .drop-content ul li:nth-child(6) a:first-child::before{
    background-color: #ec4899;
  }

   .drop-content ul li:hover{
      background: #e7e7e7;
  }

  .deleted-party,
  .updown-docs-btn{
    padding: 4px 6px !important;
    font-size: .8rem;
    color: #666666 !important;
  }

  .updown-docs-btn{
    margin-bottom: 0px;
    padding: 0px !important;
  }

  .updown-docs-btn a{
    padding: 0px 6px !important;
    font-size: 1rem;
    line-height: 10px;
    margin: -6px 0px;
  }

  .deleted-party:hover,
  .updown-docs-btn:hover{
    color: #333 !important;
  }

  .deleted-updown-ele{
    opacity: 0;
    display: flex;
    padding-left: 10px;
    padding-right: 12px;
  }

  .drop-content ul li:hover .deleted-updown-ele{
    opacity: 1;
  }

  .add-party{
    position: absolute;
    right: 7px;
    top: 50%;
    padding: 3px 4px 4px 4px !important;
    background: transparent !important;
    margin-top: -14px;
    font-size: .9rem;
    color: #333 !important;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    border: 1px dashed #fff;

  }

  .add-party:hover{
    border: 1px dashed #cfcfcf;
  }

  .dark-bg-card {
    background: #f8f4f4 !important;
    box-shadow: 0 2px 1px rgba(0,0,0,.10);
    border: 0px;
}

.bodysubject{
  max-height: 500px;
  overflow-y: auto;
}

canvas#signature-pad{
  max-width: 100%;
}

.esign_banner{
  max-width: 680px;
}

.auto-resizing-content{
  position: relative;
  margin: 4px 1% 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #b3b3b3;
  padding:8px 10px 8px 28px;
  background-color: #fff;
  border-radius: 4px;
}

.auto-resizing-content.required::before{
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  background-color: #dc3847;
  border-radius: 3px 0px 0px 3px;
}

.type_icons{
 position: absolute;
 top: 50%;
 left: 8px;
 margin-top: -7px;
}

.outline-none {
 outline: 2px solid #0000;
 outline-offset: 2px;
}

.edit-resizing-btn{
opacity: 1;
cursor: pointer;
display: inline;
padding: 3px;
}

.deleted-required-ele{
  opacity: 1;
  display: flex;
  padding-left: 10px;
}

.removecontenteditable{
  color: #333;
  padding: 2px 5px;
}

.removecontenteditable:hover{
  color: #bd2130;
}

.auto-resizing-content:hover .edit-resizing-btn,
.auto-resizing-content:hover .deleted-required-ele{
  opacity: 1;
}

.contenteditable-content {
  max-width: 100px;
  word-break: break-all;
  font-size: .8rem;
  display: inline-block;
  width: auto;
}

.contenteditable-content.active{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleted-required-ele .form-check {
  min-height: 1.1rem;
}
.expand-section-bottom{
  max-width: 680px;
  position: fixed;
  bottom: 50px;
  width: 100%;
  z-index: 999;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -10%);
}

.expand_form_button{
  position: fixed;
  bottom: 1px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 30px !important;
}

.expand_form_button i{
  position: absolute;
  right: 20px;
  top:50%;
  margin-top: -8px;
}

.form_container{
  position: fixed;
  padding: 20px;
  padding-top: 30px;
  bottom: 0px;
  border-radius: 7px;
  width: 100%;
  background: #fff;
  min-height: 100px;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.minimize_form_button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.sign-type-nav{
  margin-top: 5px;
}

.sign-type-nav .nav-tabs{
  border-bottom: 0px;
  justify-content: center;
}

.sign-type-nav button.nav-link{
  padding: 0px !important;
  background: transparent !important;
  border: 0px !important;
}

.sign-type-nav button.nav-link.active{
  background-color: transparent !important;
  border: 0px !important;
}

.sign-type-nav button.nav-link span{
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #ddd;
  display: inline-block;
  margin: 5px;
  border: 1px solid #bababa;
}

.sign-type-nav button.nav-link.active span{
  background-color: #333;
  border: 1px solid #333;
}

.upload-bg-sec {
  position: relative;
  background-color: transparent;
}

.upload-bg-sec .btn{
  min-width: 120px;
  padding: 7px 10px 9px 7px;
}

.upload-bg-sec::before {
  position: absolute;
  background-color: rgb(242, 246, 255);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 320px;
  z-index: -1;
  /* background-image: linear-gradient(79deg,#eaf7ff 5%,#f6fbff 122%); */
  background:radial-gradient(100.99% 100.73% at 0% 0%,rgb(0 196 204 / 57%) 0%,#00c4cc 0.01%,rgb(0 196 204 / 12%) 100%),radial-gradient(68.47% 129.02% at 22.82% 97.71%,#ffffff 0%,rgb(160 146 192 / 91%) 100%),radial-gradient(106.1% 249.18% at 0% 0%,#8abbbd 0%,rgb(0 196 204 / 19%) 100%),radial-gradient(64.14% 115.13% at 5.49% 50%,#a786f1 0%,rgba(100,32,255,0) 100%),#715c8d;
}

.banner-home {
  position: absolute;
  right: 0;
  top: 30px;
  max-width: 340px;
}

.banner-home2 {
  right: inherit;
  left: 0;
  max-width: 260px;
}

@media screen and (max-width: 1360px) {

  .banner-home{
    max-width: 300px;
  }

  .banner-home2 {
    max-width: 220px;
  }

}

.filter-wrapper{
  text-align: center;
  padding: 12px;
  margin: 10px auto 30px !important;
  border: 1px solid #cde6f5;
  border-radius: 10px;
  background: linear-gradient(97.03deg,#edf4ff -.58%,#defffe 92.09%);
}

.filter-wrapper-inner{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 18px;
  border-radius: 8px;
  align-items: center!important;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.filter-wrapper a{
  display: inline-block;
  padding: 5px 18px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin-right: 5px;
  min-width: 70px;
  text-align: center;
  border-radius: 50px;
}

.filter-wrapper .filter-search-sec{
  min-width: 30%;
}

.filter-wrapper .filter-search-sec input{
  background-color: #fcfcfc;
  min-height: 38px;
}

.filter-wrapper a.active,
.filter-wrapper a:hover{
  background: #e3e8ec;
  color: #0d6efd;
}

.pos_rel{
  position: relative;
}

.digital-sign-pad small.clearSignaturePad{
  right: 10px;
  bottom: 10px;
}

.edit_title_link{
  display: inline-block;
  padding: 5px 9px;
  color: #131313;
}

.back-btn-head{
  position: absolute;
  left: 15px;
}

.no_file_found_section{
  font-size: 1.2rem;
  padding: 1rem;
}

.no_file_found_icon{
  max-width: 80px;
  margin: 0px auto 14px;
  display: block;
}

