body{
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

#sidebarMenu{
  min-height: 98vh;
  padding: 15px;
  background: #f8f9fa !important;
}

.sidebar{
  background: #f8f9fa !important; 
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.document-template-cards{
  border: 0px;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
  position: relative;
  margin-bottom: 15px;
}

.document-template-cards h5{
  margin-bottom: 20px;
}

.document-template-cards a{
  color:#2e2e2e;
  text-decoration: none;
}

.grey-bg-section{
  background-color: #efefef;
  padding: 20px 0 50px;
}

.space-y{
  position: absolute;
    right: 5px;
    top: 30px;
    bottom: 0;
    display: none;
}

.document-template-cards:hover .space-y{
  display: block;
}

.space-y-inner{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.space-y-inner a{
  height: 28px;
  display: block;
  width: 28px;
  line-height: 28px;
  font-size: .8rem;
  padding: 0px;
  text-align: center;
  border-radius: 100px;
}

.space-y-inner a:hover{
  background-color: #333;
  color: #fff !important;
}

/**
 * FilePond Custom Styles
 */
 .filepond--root {
  width: 500px;
}

.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  -webkit-text-decoration-color: #babdc0;
          text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 2em;
  background-color: #edf0f4;
  height: 1em;
}

.icons-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.icons-box-btn{
  padding: 3px;
  border-radius: 0.175rem;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
  position: relative;
  width: 98%;
  margin: 2% 1%;
  text-align: left;
  color: #4c4e53 !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 98%;
  justify-items: left;
  border-left: 3px solid #0d6efd;
}

.icons-box-btn:hover{
  background-color: #dae6ff;
}

.icons-box-btn svg {
  width: 40px;
  text-align: left;
}

.text-xs {
  font-size: .8rem;
  line-height: 1rem;
  display: inline-flex;
}

.wrap-doc{
  overflow: auto;
  max-height: 800px;
  width: 100%;
}

.wrap-doc iframe{
  width: 100%;
  height: 100vh;
}

.send-recipients-sec{
  border: 1px solid #b6c7d6;
  background-color: #f2f6ff;
  padding: 60px 20px;
  max-width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
  position: relative;
}

.max-w-lg {
  max-width: 32rem;
}

.Submissions-btns-grp .btn{
  display: block;
  max-width: 300px;
  margin: 15px auto;
  border-radius: 50px;
  padding: 10px;
}
.filepond-section-custom{
  padding: 20px 0px 15px;
}

.filepond-section-custom .filepond--drip{
  background: #f3f4f6 !important;
}


.filepond-section-custom .filepond--root .filepond--drop-label{
  border: 2px dashed #6b7280 !important;
  border-radius: 9px;
  min-height: 14.75em;
}

.filepond-section-custom .filepond--root {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

.navbar-nav.user-dropdown .dropdown-menu{
  position: absolute;
  right: 0;
  left: auto;
}



.add-part-btn{
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}

.icons-box-btn img{
  max-width: 20px;
}


.send-btn-light{
  color: #0d6efd !important;
  background: rgba(13, 110, 253, .22);
  border: 1px solid #cadfff;
  min-width: 100px;
}

.send-btn-light:hover,
.send-btn-light:focus{
  color: #0d6efd !important;
  background: rgba(13, 110, 253, .32);
  border: 1px solid #cadfff;
}

.add-doc-sec{
  padding: 15px 0;
}

.edit-doc-name{
  position: relative;
  padding-right: 20px;
}

.edit-docs-file{
  position: relative;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin: 10px auto;
}

.edit-docs-file img{
  max-width: 100%;
}



.edit-doc-text{
  position: absolute;
  right: 2px;
  color: #4c4e53;
  top: 1px;
  display: none;
}

.edit-doc-name:hover .edit-doc-text{
  display: block;
}

.replace-doc-btn{
  position: absolute;
  top:5px;
  left: 50%;
  margin-left: -37px;
  border-radius: 100px;
  padding: 2px 12px;
  display: none;
}

.edit-docs-btn{
  position: absolute;
  top:5px;
  right: 10px;
  padding: 5px;
  display: none;
}

.edit-docs-file:hover .replace-doc-btn,
.edit-docs-file:hover .edit-docs-btn{
  display: block;
}

.dropzone.dz-clickable{
  background-color: #dae6ff;
  border: 1px dashed #6782b8;
  box-shadow: 0 1px 5px rgba(33,51,67,.12);
}

.dropzone.dz-clickable h3{
  color: rgb(0, 85, 255);
}

#pdfViewer{
  background-color: #f5f5fa;
  text-align: center;
}

#pdfViewer canvas{
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header-bottom-section{
  box-shadow: rgba(26, 26, 26, 0.2) 0px 0px 2px;
  position: relative;
}

.shadow{
  box-shadow: 0 2px 4px rgba(33,51,67,.12) !important;
}

.btn{
  border-radius: 0.175rem !important;
}

.toast{
  margin-bottom: .5rem !important;
}

.toast-danger{
  background-color: #e84c3d;
  color: #fff;
  border: 1px solid #e84c3d;
}

.toast-warning{
  background-color: #f39c11;
  color: #fff;
  border: 1px solid #f39c11;
}

.toast-info{
  background-color: #3598db;
  color: #fff;
  border: 1px solid #3598db;
  display: none !important;
}

.toast-success{
  background-color: #00bc8c;
  color: #fff;
  border: 1px solid #00bc8c;
}

.dropdown_c{
  position:relative;
  margin:10px 0px;
  z-index: 2;
  }
  
   .selecteddropdown span{
    display:flex; 
    background: #fff;
    width:100%;
    border-radius:5px;
    color:#131313;
    border: 1px solid #ddd;

  }
  
   .selecteddropdown  span{
    cursor:pointer; 
    display:flex; 
    padding:10px 15px;
    margin:0;
  }
  
   .drop-content{
    position:relative; 
  }
  
   .drop-content ul{
    position: absolute;
    left: 0px;
    top: -3px;
    display: none;
    list-style: none;
    width: 100%;
    background: #fff;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    padding: 5px !important;
    box-shadow: 0 1px 5px rgba(33,51,67,.12);
  }
  
  .drop-content ul li{
    position: relative;
    border-radius: 20px;
  }

   .drop-content ul li a{
    display: flex;
    padding: 8px 17px;
    text-decoration: none;
    color: #131313;
    text-decoration: none;
    cursor: pointer;
    
  }
  
   .drop-content ul li:hover{
      background: #e7e7e7;
  }
  
  .deleted-party{
    position: absolute;
    right: 15px;
    top: 50%;
    padding: 4px !important;
    background: transparent !important;
    margin-top: -12px;
    font-size: .8rem;
    color: #e30b0b !important;
    display: none;
    opacity: 0;
  }

  .drop-content ul li:hover .deleted-party{
     display: block;
     opacity: 1;
  }

  .add-party{
    position: absolute;
    right: 7px;
    top: 50%;
    padding: 3px 4px 4px 4px !important;
    background: transparent !important;
    margin-top: -14px;
    font-size: .9rem;
    color: #333 !important;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    border: 1px dashed #fff;
   
  }

  .add-party:hover{
    border: 1px dashed #cfcfcf;
  }